<div class="home_links">
    <h2 class="home_links"><a href="/recipes">Recipes</a><h2>
    <h2 class="home_links"><a href="/users">Users</a><h2>
    <h2 class="home_links"><a href="/recipes/new">New</a><h2>
    <h2 class="home_links"><a href="/logout">Logout</a><h2>
</div>
<br>
<h2 style="font-size:35px;">Error</h2>
<br>
<h5 class="error">You cannot edit or delete recipe you do not own</h5>
<br>
<h3 style="font-size: 25px;"><%= "#{@recipe.name}" %></h3>
<br>
<p><%= "#{@recipe.meal_type}" %></p>
<p>Ingredients: <%= "#{@recipe.ingredients}" %></p>
<p>Directions: <%= "#{@recipe.directions}" %></p>
    
    
<p><a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a></p>
    
<form method="POST" action="/recipes/<%= @recipe.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<p><input type="submit" value="Delete Recipe"></p>
</form>