<br>
<h3 style="font-size:25px;"><%= "#{@recipe.name}" %></h3>
<br>
<p><%= "#{@recipe.meal_type}" %></p>
<p>Owner: <%= "#{@owner.full_name}" %></p>
<p>Ingredients: <%= "#{@recipe.ingredients}" %></p>
<p>Directions: <%= "#{@recipe.directions}" %></p>

<br>
<p><a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a></p>
<br>
<form method="POST" action="/recipes/<%= @recipe.id %>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<p><input type="submit" value="Delete Recipe"></p>
</form>